body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #34495e;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.app-container {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 20px;
}
